body{
    background-color: darkorange;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;    
    background-size: cover;   

    padding-top:75px;
    font-size: 18px;
}

/* bootstrap navbar overrides */
.navbar-inverse {
    background-color: darkslategray; 
    border-color: darkslategray;
    border-radius: 0;
}
.navbar-inverse .navbar-brand {
    color:white;
}
.navbar-inverse .navbar-brand:focus
.navbar-inverse .navbar-brand:hover {
    color: darkorange;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: darkorange;
  background-color: transparent;
}

.navbar-inverse {
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.panel-default>.panel-heading{
    border-color: darkorange;
    background-color: white;
}

img{
    max-width: 100%;
}

.viewPost{
    color: darkorange;
    font-weight: 800;
}

.viewPost a {
    color: darkorange;
}