<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{% if page.tags != [] %}{% for tag in page.tags %}{{ tag }},{% endfor %} {% else %}Azure DevOps, Azure, GitHub, GitHub Actions, Security, DevOps, C#, Development, CI, CD, CI/CD, Continuos Deployment, Continuos Integration, Continuous Improvement{% endif %}">
    <meta name="robots" content="INDEX, FOLLOW">

	<link rel="shortcut icon" type="image/png" href="/images/rob_pixel.png">

	{% seo %}

	<script defer data-domain="devopsjournal.io" src="https://plausible.io/js/plausible.js"></script>
	
	<!-- styles -->
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/syntax.css" rel="stylesheet">
	
</head>
