<!DOCTYPE html>
	<html>
		
		{% include head.html %}
	
	<body>
		
		<div class=""> 
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand active" href="{{ "" | absolute_url }}">Robs blog</a>
					</div>
				
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="https://github.com/rajbos/" target="_blank">Github</a></li>						
						<li><a href="https://twitter.com/robbos81/" target="_blank">Twitter</a></li> 											
						<li><a href="{{ "/blog/tools" | absolute_url }}" target="_blank">Tools</a></li>     
						<li><a href="{{ "/blog/atom.xml" | absolute_url }}" target="_blank">RSS</a></li>
						<li><a href="{{ "/blog/about" | absolute_url }}" target="_blank">About</a></li>
						<li><a href="https://mailchi.mp/a94a59145fe3/rajbos_github_io" target="_blank">Subscribe</a></li>
					</ul>                    
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
				</nav>
			</div>
		
		<div class="container">

		{{ content }}

		</div>

	</body>

</html>
