---
layout: default
---

<div class="panel panel-default">
  <div class=panel-heading>
    <p class="meta">
      Date posted: <strong>{{ page.date | date_to_string }}</strong>, {{ page.content | number_of_words | divided_by: 265 }} minutes to read
    </p>
    <h1> {{ page.title }} </h1>
  </div>

  <div class="panel-body post" style="overflow-x:scroll">
    {{ content }}
  </div>

  <div class="panel-footer">
    <div class="tweet">
      <a class="twitter-share-button" rel="canonical" href="https://twitter.com/intent/tweet?screen_name=RobBos81" data-size="large">Tweet to @RobBos81</a>
    </div>

    <div>
      {% if page.tags == [] %}
        <span style="vertical-align:middle;"> Tags: 
          {% for tag in page.tags %}
            <span class="btn btn-default">
                <a class="post-link" href="{{ tag.url | prepend: site.baseurl }}">{{ tag }}</a>
            </span>
          {% endfor %}
        </span>
      {% endif %}
    </div>

    <div class="logo">
      <a href="https://www.xpirit.com/xpiriter/rob"><img src="/images/xpirit_export_blog.png" alt="Xpirit logo" height="100px" style="align-self: flex-end;" /></a>
    </div>
   </div>

</div>
<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));

twttr.widgets.createMentionButton(
  "TwitterDev",
  document.getElementById("container"),
  {
    size:"large"
  }
);
</script>

<style>
    #twitter-widget-0 {
      vertical-align: middle;
    }
</style>