name: Check Markdown links

on:
  # push:
  workflow_dispatch:

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      # check all links in the md files to see if they are correct (http 200)
    - uses: actions/checkout@master
    - uses: rajbos-actions/github-action-markdown-link-check@v1
      with:
        check-modified-files-only: 'no'
        use-quiet-mode: 'yes'
        config-file: '.github/workflows/markdown-link-config.json'
